// Admin fixes for Drupal using Bootstrap

body.admin-menu {
  margin-top: 28px !important;
  .navbar-fixed-top {
    top: 30px;
  }
}

body #admin-menu {
  z-index: 4500 !important;
}

#admin-menu .dropdown li li.expandable ul {
  margin-top: -29px;
}

// Glazed button in toolbar

#glazed_free-button-wrapper {
  float: right;
  margin:0 4px;
  .glazed_free-button {
    display: inline-block;
    color: white;
    line-height: 20px;
    padding: 0 4px;
  }
  img {
    margin-right: 3px;
    margin-top: -2px;
    vertical-align: middle;
  }
}

// selects fix
.form-item-field-settings-granularity {
  .option.checkbox.control-label { float: left; margin-right: 2em; }
  .help-block { clear: both; }
}

.type-preview {
  background: #fefffe;
  color: #555555;
  h1, h2, h3, h4, h5, h6, .navbar-brand, th, .nav-tabs > li > a {
    color: #333333;
  }
  .type-container {
    padding: 40px 80px;
  }
  .type-title-container {
    background: #0180ef;
    h1 {
      color: #fffeff;
    }
  }
}

body.page-node-add-portfolio,
body.page-node-edit.node-type-portfolio {
  .form-item-field-image-display-und-0-settings-views-field-formatter-multiple,
  .form-item-field-image-display-und-0-settings-views-field-formatter-implode-character {
    display: none;
  }
}

