@charset "UTF-8";
//colors
$black: #000;
$color_pink_swan: #bbb;
$color_mine_shaft: #333;
$white: #fff;
$color_alabaster: #f9fafc;
$color_outer_space_5: rgba(40, 50, 60, 0.05);
$white_50: rgba(255, 255, 255, 0.5);
$seashell: #f1f1f1;
$color_outer_space_30: rgba(40, 50, 60, 0.3);
$color_outer_space_60: rgba(40, 50, 60, 0.6);
$color_outer_space_10: rgba(40, 50, 60, 0.1);
$color_gallery: #ddd;
$color_alto: #dddddd;
$alabaster: #fafafa;
$white_5: rgba(255, 255, 255, 0.05);
$black_5: rgba(0, 0, 0, 0.05);
$color_suva_gray: #888;
$color_silver_chalice: #aaa;
$color_steel_blue: #337ab7;
$color_curious_blue: #0180ef;
$color_lochmara: #0480be;
$color_romance: #fdfdfd;
$color_storm_dust: #666;
$color_celeste: #ccc;

//fonts
$font_0: 'Helvetica Neue';
$font_1: 'Helvetica';
$font_2: 'Arial';
$font_3: 'sans-serif';


#system-theme-settings {
  // Header
  * { box-sizing: border-box; }

  .settings-header {
    padding: 30px;
    margin-bottom: 0;
    background: #354051;
    color: #a0acbe;
    h2, h3, a {
      color: #a0acbe;
    }
  }
  .theme-settings-logo {
    width:35px;
    margin-right:5px;
  }
  fieldset,
  .tabs-left > .tab-content,
  .tabs-right > .tab-content,
  .nav-tabs,
  .nav-tabs a,
  .vertical-tabs {
    border: none;
    box-shadow: none;
  }
  .tabs-left > .tab-content, .tabs-right > .tab-content {

  }
  fieldset {
    background: transparent;
    clear: both;
    border-left: 4px solid #dce2e5;
    border-radius: 0;
    legend {
      border: none;
      background: transparent;
      font-size: inherit;
      .fieldset-legend {
        outline: none;
        text-decoration: none;
        background: none;
        &:hover,
        &:active {
          outline: none;
          text-decoration: none;
        }
      }
    }
  }
  label {
    width: 200px;
    float: left;
    display: block;
    padding: 0;
    font-weight: 300;
  }
  .form-item {
    clear: both;
    min-height: 3em;
    .form-type-radio {
      min-height: 20px;
    }
  }
  .form-control {
    border-color: rgba(1, 176, 239, 0.2);
  }
  .form-type-select::after {
    color: rgba(1, 176, 239, 0.2);
  }
  .form-text,
  .form-type-select,
  .form-radios,
  .slider,
  .bootstrap-switch {
    float: left;
    max-width: 100%;
    width: 400px;
  }
  .form-text,
  .form-textarea {
    background: #e4e9ed;
    color: $color_curious_blue;
    font-size: 18px;
    border: none;
    box-shadow: none;
  }
  .description,
  .help-block {
    float: left;
    clear: both;
    padding: 12px 0 18px 0;
  }
  //BOOTSTRAP SWITCH
  .bootstrap-switch {
    border: none;
    position: absolute;
    left: 200px;
  }
  // BOOTSTRAP SLIDER
  .slider + input {
    display: block !important;
    width: 120px;
    background: transparent;
    font-size: 24px;
    position: relative;
    bottom: 20px;
  }
  .slider-track {
    height: 6px;
    background: #dce2e5;
    box-shadow: none;
  }
  .slider-selection {
    box-shadow: none;
    background: #0180ef;
  }
  .slider {
    position: relative;
    display: block;
  }
  .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-default,
  .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default {
    background: #dddddd;
  }
  .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-success,
  .bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-success {
    background: $color_curious_blue;
  }
  .slider-handle, {
    background: #000;
    width: 17px;
    height: 17px;
    margin-top: -1px;
  }
  > div > h2 {
    margin-bottom: 0;
    margin-top: 0;
  }
  .form-header {
    display: block;
    width: 100%;
    margin-bottom: 0;
    background: $color_curious_blue;
    color: white;
    padding: 20px;
  }
  .vertical-tabs {
    display: table;
    position: relative;
    background: #ecf2f6;
    color: #354051;
    width: 100%;
    .vertical-tabs-list {
      background: #354051;
      color: #a0acbe;
      float: none;
      display: table-cell;
      vertical-align: top;
      content: ' ';
      width: 200px;
      position: relative;
      top: 0;
      left: 0;
      height: 100%;
      padding-top: 30px;
      a {
        color: #a0acbe;
        border: none;
        background: transparent;
        &:hover,
        &:active {
          color: #a0acbe;
          border: none;
          background: transparent;
        }
      }
      .selected {
        background: $color_curious_blue;
        color: #fff;
        a {
          color: #fff;
          background: transparent;
          border: none;
        }
        .summary {
          color: #fff;
          opacity: 0.5;
        }
      }
      .summary {
        color: #66758c;
      }
    }
    .vertical-tabs-panes {
      margin-left: 0;
    }
  }
  .form-select {
    color: $color_curious_blue;
    option {
      background: #fff;
      color: #354051;
    }
  }
  .form-radios {
    padding: 0 0 20px 0;
    input {
      display: none;
    }
    label {
      width: auto;
    }
    label.option,
    span.glazed_free-label {
      font-weight: 300;
      padding: 5px 0;
      width: 400px;
      margin-top: -1px;
      line-height: 24px;
      width: auto;
      &:before {
        content: '__';
        color: $color_curious_blue;
        opacity: 0.3;
        font-size: 18px;
        display: inline-block;
        width: 25px;
        line-height: 1em;
        font-weight: normal;
      }
    }
    input:checked ~ label.option,
    input:checked ~ span {
      font-weight: normal;
      font-style: italic;
      &:before {
        content: '✓';
        opacity: 1;
        color: $color_curious_blue;
        font-size: 24px;
      }
    }
  }
  .form-type-checkboxes {
    > label {
      font-weight: bold;
    }
  }
  .farbtastic {
    z-index: 10;
  }
  .color-form {
    max-width: 740px;
    .form-item {
      height: auto;
    }
    .form-text {
      padding: 3px;
      width: 250px;
    }
    .form-select {
      width: 250px;
      float: none; //override color.css
    }
    .form-type-select {
      width: 500px;
    }
    .form-item-scheme {
      height: 3.2em;
    }
    h2 {
      visibility: hidden;
    }
    #preview {
      visibility: hidden;
    }
  }
  .form-item {
    padding-left: 0;
  }
  #palette {
    margin-top: 2em;
    label {
      line-height: 44px;
      margin: 0;
    }
    .form-item {
      padding: 0;
      margin: 0 0 3px 0;
      width: auto;
      min-height: 0;
    }
    .item-selected {
      background: none;
      input {
        font-style: italic;
      }
    }
    .lock {
      left: -18px;
      top: -2em;
    }
    .form-text {
      padding: 5px;
    }
  }
  .font-preview {
    font-size: 30px;
    padding: 10px 0;
    p {
      margin: 10px 0;
    }
    .font-test {
      font-size: 16px;
    }
    .font-test-accents {
      font-size: 16px;
    }
    .font-test-small {
      font-size: 13px;
    }
  }
  #edit-fonts {
    .form-item {
      float: left;
      clear: none;
      padding-right: 10px;
      width: 40%;
      height: 70px;
      &.form-type-textfield {
        width: 60%;
      }
      .form-select {
        height: 50px;
      }
      .form-text,
      label {
        width: 100%;
      }
      fieldset {
        clear: both;
      }
    }
  }
  #edit-typography {
    .form-item {
      float: left;
      clear: none;
      width: 33%;
      padding-top: 0;
      margin-bottom: 0;
      label {
        width: 100%;
      }
    }
    .form-text {
      width: 27%;
    }
    .slider {
      width: 73%;
    }
    .form-item-scale-factor {
      width: 66%;
      .slider {
        width: 497px;
      }
      .form-text {
        width: 80px;
      }
    }
    .form-item-divider-color,
    .form-item-divider-color-custom {
      clear: both;
    }
  }
  #edit-block {
    .slider,
    .form-type-select,
    .form-text {
      width: 80%;
    }
    .slider + input {
      width: 20%;
    }
    .bootstrap-switch .bootstrap-switch-label {
      background: #f0f0f0;
    }
  }
  .block-design-wrapper {
    background: #fff;
  }
  .block-design-settings {
    width: 50%;
    float:left;
    padding: 60px;
    padding-right: 0
  }
  .block-preview {
    width:50%;
    float:left;
    padding: 60px;
  }
  .form-item[class$="invoke"] .form-text {
    max-width: none;
  }
  .fonts-previews p {
    margin: 0 0 20px 0;
  }
  #edit-import-export {
    label {
      width: 300px;
    }
    .bootstrap-switch {
      left: 300px;
    }
  }
  .glazed_free-settings-export {
    width: 100%;
    height: 400px;
    // overflow: auto;
    white-space: pre;
  }
}
