//
// Author: Jurriaan Roelofs for SooperThemes. Copyright SooperThemes.
//

// Fixing weird stuff in the bootstrap basetheme
// @see https://www.drupal.org/node/2559219
// @see https://www.drupal.org/node/2414935

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  margin-bottom: 30px;
}

.block:first-child h2.block-title {
    margin-top: 10px;
}
.region-sidebar-second .block:first-child h2.block-title,
.region-sidebar-first .block:first-child h2.block-title {
    margin-top: 0;
}
p:last-child {
    margin-bottom: 10px;
}

.container {
  width: 100%;
  max-width: 1170px;
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}

// This will all users to create multiple full width backgrounds per container
.container-fluid {
  padding-left :0;
  padding-right: 0;
}

.row {
  margin-bottom: 0;
}

.column {
  margin-bottom: 30px;
}

// Bootstrap long dropdown multi-column helper
// @see glazed_free.js
.dropdown-menu {
  min-width: 160px;
  li {
    float: left;
    min-width: 160px;
    display: block;
  }
}

div.lead {
  margin-bottom: 0;
}

// 3d effect
// Fake submit is media browser button
.btn,
.fake-submit {
  border: none;
  border-bottom: 3px solid rgba(0, 0, 0, 0.12);
  border-left: 3px solid rgba(0,0,0,0.08);
  border-radius: 4px;
  padding: 8px 18px;
  &:hover,
  &:focus {
    border-bottom-color: rgba(0,0,0,0.4);
    border-left-color: rgba(0,0,0,0.3);
  }
}

.btn-lg {
  padding: 16px 22px;
}

.btn-sm {
  padding: 2px 8px;
  border-bottom-width: 2px;
  border-left-width: 2px;
}

.btn-xs {
  padding: 1px 6px 1px 3px;
  border-bottom-width: 2px;
  border-left-width: 2px;
}

$btn-primary-color: $silver;
$btn-primary-hover-color: $accent1;
$btn-primary-bg: $primary;
$btn-primary-border: $primary;

.btn-default,
.btn-group > .btn-default,
.btn-primary,
.btn-group > .btn-primary,
.html .fake-submit {
  background: $primary;
  color: #fff;
  a {
    color: #fff;
  }
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
a.bg-primary:hover,
a.bg-primary:focus {
  background-color: $accent1;
  color: #fff;
  a {
    color: #fff;
  }
}
a.text-primary:hover,
a.text-primary:focus {
  color: $accent1;
}

.btn-link {
  background: transparent;
  color: $primary;
  border: none;
  box-shadow: none;
  text-decoration: underline;
}

.wrap-containers .nav > li > a.active {
  background-color: #eeeeee;
  color: $primary;
  text-decoration: none;
}

.block .nav > li > a .glyphicon {
  margin-left: -13px;
  display: inline-block;
  font-size: $font-size-small;
  padding-right: 4px;
}

.well, .jumbotron {
  background-color: $well;
  color: $well-text;
  border: none;
  border-radius: 0;
  box-shadow: none;
  a {
    color: $well-text;
  }
  h1, h2, h3, h4, h5, h6 {
    color: $well-text;
  }
  .nav > li > a {
    .glyphicon {
      color: $accent1;
    }
  }
  .nav > li > a:hover,
  .nav > li > a:focus,
  .nav > li > a.active {
    color: $silver;
    background: $primary;
    .glyphicon {
      color: $silver;
    }
  }
}

.list-inline {
  margin: 0;
  padding: 0;
  > li {
    padding: 0;
  }
}

blockquote {
  border-color: $silver;
}
blockquote footer, blockquote small, blockquote .small {
  color: inherit;
}

// Panel theming is limited to .content because it's also use a lot in admin forms
.content .panel {
  line-height: 2em;
  background: #000;
  background: rgba(0,0,0,0.6);
  border-radius: 0;
  color: $silver;
  padding:30px;
  border: none;
  h1, h2, h3, h4, h5, h6 {
    color: $silver;
  }
}

.content .panel-group .panel {
  background: transparent;
  padding: 0;
  color: inherit;
  box-shadow: none;
  .panel-heading {
    background: transparent;
    border:none;
    padding-left:0;
    padding-right:0;
    .panel-title:before {
      content: '+';
      display: inline;
      padding-right:1em;
    }
  }
  .panel-body {
    border: none;
    padding-left:0;
    padding-right:0;
  }
  h1, h2, h3, h4, h5, h6 {
    color: inherit;
  }
}

.img-circle, .img-rounded, .img-thumbnail {
  border: 3px solid $gray-lighter;
}

.center-block {
  float: none!important;
}


// Modals
// -------------------------

// Disabling the background on Modal Windows
// Backdrops only work well when modal content is attached to the end of the page
// In practice glazed_free builder and custo html snippets will add modals to the body
// which has a lower z-index so the modal can appear behind the backdrop.
.modal-backdrop {
    z-index: -1!important;
    width: 1px!important;
    height: 1px!important;
}
.modal {
    .modal-dialog {
        margin-top: 80px;
        color: $text; // White background is defined but text color is not, this prevents
        // white text when modal is added within a dark section
        h1, h2, h3, h4, h5, h6 {
            color: $text;
        }
        ul {
            padding-left: 10px;
            // li {
            //   padding-bottom: 5px;
            // }
        }
    }
    .modal-content {
        border-radius: 0;
        border: none;
    }
    &:before {
        content: ' ';
        z-index: 4610;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: #000000;
        opacity: 0.3;
    }
}

// Tabs
// -------------------------

// Style Tabs as well as override jQuery ui tabs styling
.html .nav-tabs, {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid $gray-lighter;
  margin: 0;
  padding: 0;
  > li {
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
    > a {
      border: 1px solid transparent;
      border-radius: 0;
      margin: 0;
      padding: 10px 15px;
      background-color: transparent;
      &:hover {
        color: $gray-lighter;
      }
    }
    &.active,
    &.ui-tabs-active {
      position: relative;
      bottom: -1px; // more reliable than margin-bbottom. e.g. in sooperthemes checkout form
      a {
        color: $primary;
        cursor: pointer;
        border: 1px solid $gray-lighter;
        border-bottom-color: white;
        &:hover,
        &:focus {
          color: $primary;
          cursor: default;
          outline: none;
        }
      }
    }
  }
  &.tabs--primary {
    > li {
      position: relative;
      // z-index: 4100; // @see glazed_free.admin.js, applied when collision with headeris detected
      > a {
        background-color: white;
      }
    }
  }
}

.html .glazed_free-mini-tabs-wrapper {
  position: absolute;
  margin-top: 2px;
  left: 50%;
  z-index: 3000;
  pointer-events: none;
  .tabs--primary {
    position: relative;
    left: -50%;
    border: none;
    box-shadow: 0 3px 10px 0 rgba(50, 50, 50, 0.23);
    li {
      margin: 0;
      padding: 0;
      border: none;
      a {
        padding: 8px;
        text-transform: uppercase;
        font-size: 12px;
        margin: 0;
        border: none;
        pointer-events: auto;
      }
      &.active {
        bottom: auto;
        a {
          border: none;
        }
      }
    }
  }
}

// Tabbable tabs
// -------------------------

// Hide tabbable panes to start, show them when `.active`
.tab-content {
  > .tab-pane {
    display: none;
  }
  > .active {
    display: block;
  }
}

.tabs-left>.tab-content, .tabs-right>.tab-content {
  padding: 20px;
}

// Progress Bar
// -------------------------

.progress {
  border-radius: 0;
  height: 3px;
  margin-top: 2px;
  overflow: visible;
  box-shadow: none;
}

.progress-bar {
  background-color: $primary;
  line-height: 4px;
  box-shadow: none;
}

// Bootstrap carousel

.carousel-control.right,
.carousel-control.left {
  opacity: 0.5;
}

// fix display on white background
.carousel-indicators li {
  background: #ccc;
  border: none;
  height: 9px;
  width: 9px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  &.active {
    border: none;
    height: 10px;
    width: 10px;
    background: #999;
  }
}
