//
// Author: Jurriaan Roelofs for SooperThemes. Copyright SooperThemes.
//

// PORTFOLIO NODES

.cms-portfolio-extra span.field-label {
  float: left;
  width: 35%;
  clear: both;
}
.cms-portfolio-extra .inline {
  float: right;
  width: 64%;
}

.node-portfolio {
  .field-comparison-images,
  .field-portfolio-images img,
  .field-portfolio-images .image-field-caption {
    margin-bottom: 30px;
  }
}

.cms-portfolio-images .row img,
.cms-portfolio-images .row .image-field-caption {
  margin-bottom: 0;
}

// PORTFOLIO VIEWS
.cms-portfolio-excerpt {
  .field-content {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
  }
  .title {
    background: $silver;
    font-size: $font-size-h4;
    margin: 0;
    padding-bottom: 0;
  }
  p.field-content {
    background: $silver;
    margin-bottom: 30px;
    padding-bottom: 20px;
  }
  .cbp-caption {
    margin-bottom: 0;
  }
}

.view-glazed_free-premium-portfolio p.field-content {
  margin-bottom: 0;
}

.view-cms-portfolio {
  .col-lg-2 {
    .title {
      font-size: $font-size-h4;
    }
  }
}

// Gallery Thumb Overlay With Font Awesome Zoom Icon
.ilightbox {
  display: block;
  position: relative;
  z-index: 0;
  text-align: center;
  img {
    border: none !important;
    padding: 0 !important;
    max-width: 100% !important;
  }
  &:before {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
  }

  &:hover:before {
    opacity: 0.50;
  }

  &:after {
    content: ' ';
    background: url('../images/FA5L-search-plus-white.svg') no-repeat center center;
    fill: white;
    font-size: 2em;
    color: #fff;
    opacity: 0;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1em;
    line-height: 1em;
    margin-top: -0.5em;
    z-index: 6;
    text-align: center;
    transform: scale3d(.5,.5,1);
    transition: all 0.2s;
  }

  &:hover:after {
    transform: scale3d(1,1,1);
    opacity: 1;
  }
}
.ilightbox-toolbar.metro-black a:hover {
  background-color: $primary;
}
