//
// Author: Jurriaan Roelofs for SooperThemes. Copyright SooperThemes.
//

.cbp-filter-item:hover {
  color: $primary !important;
}

.cbp-l-filters-button .cbp-filter-item-active,
.cbp-l-filters-button .cbp-filter-item:hover,
.cbp-l-filters-buttonCenter .cbp-filter-item-active,
.cbp-l-filters-buttonCenter .cbp-filter-item:hover {
  color: white !important;
 }

.js .html .block {
  .cbp-filter-item {
    color: $text;
    opacity: 0.75;
    transition: opacity 200ms, background-color 200ms, color 200ms;
    &.cbp-filter-item-active,
    &:hover,
    &:active,
    &:focus {
      color: $primary;
      opacity: 1;
    }
  }
  .cbp-l-filters-button,
  .cbp-l-filters-buttonCenter {
    .cbp-filter-item {
      border: none;
      background: $well;
      color: $well-text;
      padding: 10px 20px;
      &.cbp-filter-item-active,
      &:hover,
      &:active,
      &:focus {
        opacity: 1;
        background: $primary;
        color: white;
      }
    }
  }
}

.cbp-caption {
  .glazed_free-portfolio-title {
    color: $silver;
    a {
      color: $silver;
    }
  }
}

.group-portfolio-extra {
  padding-bottom: 30px;
}

// Spinner color
.cbp:after, .cbp-lazyload:after, .cbp-popup-loadingBox:after, .cbp-popup-singlePageInline:after {
  border-top-color: $primary;
}

.cbp-popup-lightbox {
  background: rgba(0,0,0,0.95);
}
