//
// Author: Jurriaan Roelofs for SooperThemes. Copyright SooperThemes.
//

// Using comment patch https: //www.drupal.org/files/bootstrap-use-media-object-as-comments-2109369-6.patch

html.js body.html.page-media-browser {
  background: #fff;
  padding: 0 !important;
  .pagination {
    margin-top: 10px;
    margin-bottom: 10px;
    li > a,
    li > span {
      padding: 10px 14px;
    }
  }
  .media-list-thumbnails .media-item.selected,
  .media-list-thumbnails .media-item:hover {
    background: $primary;
    border-color: $primary;
  }
}

#media-browser-tabset #branding {
  padding: 0 30px;
}

.html .media-wrapper {
  box-shadow: $glazed_free-shadow-5;
  z-index: 7000;
  .ui-dialog-titlebar {
    background: #fff;
    color: $text;
    border: none;
    height: 50px;
  }
  .ui-dialog-titlebar-close {
    border: none;
    border-radius: 0;
    background: transparent;
    position: static;
    float: right;
    margin: 0;
    cursor: pointer;
    outline: none;
    &:hover, &:focus, &:active {
      outline: none;
    }
    &::after {
      content: 'x';
      cursor: pointer;
      font-size: 24px;
      opacity: 0.3;
      font-weight: bold;
      line-height: 1;
      color: #000;
    }
  }
}
