//
// Author: Jurriaan Roelofs for SooperThemes. Copyright SooperThemes.
//

// Using comment patch https: //www.drupal.org/files/bootstrap-use-media-object-as-comments-2109369-6.patch

.comment {
  clear: both;
  border: 3px solid $gray-lighter;
  padding: 25px;
  margin-bottom: 25px*1.618;
  .user-picture a {
    display: block;
    width: 64px;
    height: 64px;
  }
  img {
    width: 100%;
  }
  .pull-left {
    margin-right: 25px;
  }
  .indented {
    padding-left: 74px;
    border-left: 1px solid $gray-lighter;
    margin-top: -25px;
  }
  h3 {
    margin-top: 0.3em;
  }
  .post-date {
    font-style: italic;
    font-size: $font-size-small;
  }
  .links {
    float: right;
    margin: 15px 0;
    clear: both;
    font-size: $font-size-small;
  }
  .title.comment-form {
    margin-top: 30px;
  }
}