//
// Author: Jurriaan Roelofs for SooperThemes. Copyright SooperThemes.
//

// Using comment patch https: //www.drupal.org/files/bootstrap-use-media-object-as-comments-2109369-6.patch

.page-title-full-width-container {
  .breadcrumb-container {
    position: relative;
    z-index: 2;
  }
  .breadcrumb {
    background: transparent;
    position: absolute;
    bottom: 0;
    right: 60px;
    text-align: right;
    font-style: italic;
    opacity: 0.85;
    margin: 0;
    padding: 10px 0;
    a {
      font-style: normal;
      text-decoration: none;
      &:hover,
      &:focus {
        color: $primary;
      }
      // Hide UUID Redirector breadcrumb
      &[href$="/uuid"],
      &[href$="/uuid"] + .glazed_free-breadcrumb-spacer {
        display: none;
      }
    }
    li + li:before {
      display: none;
      content: '';
    }
    span {
      padding: 0 5px;
      font-size: 12px;
    }
  }
}
