//
// Author: Jurriaan Roelofs for SooperThemes. Copyright SooperThemes.
//

// Putting glazed_free controls above navigation

body.node-type-drag-drop-page.no-sidebars {
  .page-title-full-width-container {
    margin-bottom: 0;
  }
}

.region-slider {
  // div.glazed_free.az-container > .controls {
  //   right: 40px;
  // }
  div.glazed_free.az-container > .controls,
  div.az-section > .controls {
    top: 0!important;
  }
  .glazed_free-editor.glazed_free.az-container {
    margin-top: 0!important;
  }
  div.az-section {
    margin-top: 0!important;
  }
}

#az-editor-tabs .fa_icons,
#az-editor-tabs .line_icons {
  height: 350px;
  overflow: scroll;
}
