//
// Author: Jurriaan Roelofs for SooperThemes. Copyright SooperThemes.
//



.tp-caption {
	white-space: normal!important;
  font-family: inherit!important;
}

.tp-caption.tp-glazed_free {
  background: $gray-darker;
  background: rgba(0,0,0,0.7);
  color: #fff;
  font-size: $font-size-h1;
  line-height: 1.6em;
  padding: 5px 10px;
  font-family: inherit;
}

// No JS fallback

.tp-banner ul {
  list-style: none;
  list-style-type: none;
}
