//
// SHORTCODES
//

// TEAM BOX

.stpe-teambox .stbe-social-links__item .fa {
  background: $well;
  color: $gray-light;
  &:hover, &:focus {
    background: $gray-light;
    color: $well;
  }
}

// IMAGE BOX

.stpe-imagebox {
	.stpe-imagebox__title {
		font-size: 35px;
	}
}
