@charset "UTF-8";

// Glazed Side Header
.body--glazed_free-header-side.body--glazed_free-nav-desktop .glazed_free-header--side {
  padding: 40px 20px;
  z-index: 1000;
  .navbar-container {
    padding-left: 0;
    padding-right: 0;
  }
}

.glazed_free-header--side {
  h1, h2, h3, h4, h5, h6 {
    color: $header-side-text-color;
  }
  a {
    color: $header-side-text-color;
    &:hover,
    &:focus {
      color: $header-side-text-color;
    }
  }
  .glazed_free-main-menu {
    background: $header-side-color;
    color: $header-side-text-color;
    padding: 40px 20px;
    position: fixed;
    z-index: 4060;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    a {
      color: $header-side-text-color;
      &:hover,
      &:focus {
        color: $header-side-text-color;
      }
    }

  }
  .block {
    margin-bottom: 20px;
  }
  .navbar-collapse {
    padding: 70px 0 0 0;
  }
  .menu__level {
    box-shadow: none;
    background: $header-side-color;
    position: fixed !important;
    display: block;
    z-index: 4051;
    top: 80px;
    height: 100%;
    height: calc(100vh - 80px);
    left: 0;
    visibility: hidden;
    overflow: hidden;
    overflow-y: auto;
    width: 300px;
    margin: 0;
    padding:  0;
    float:none;
    border: none;
  }
  .menu__level--current {
    visibility: visible;
  }
  .menu__item {
    display: block;
    width: 100%;
    float: none;
  }
  .menu__link {
    position: relative;
    cursor: pointer;
    display: block;
    padding: 7px 20px !important;
    line-height: 25px !important;
    -webkit-transition: color 0.1s;
    transition: color .5s;
    white-space: normal;
  }
  .menu__link[data-submenu]::after {
    content: '…';
    position: absolute;
    right: 20px;
    font-size: 1.4em;
    line-height: 1em;
    top: 0;
    opacity: 0.7;
  }
  .animate-outToRight,
  .animate-outToLeft,
  .animate-inFromLeft,
  .animate-inFromRight {
    visibility: visible;
  }
  .open > .dropdown-menu {

  }
  // TB Mega Menu
  .tb-megamenu-column {
    width: 100%!important;
  }
  .mega-dropdown-menu {
    padding: 0;
  }
  .menu__breadcrumbs {
    font-size: 0.65em;
    line-height: 1;
    position: fixed;
    top: 60px;
    padding-left: 20px;
    left: 0;
  }

  .menu__breadcrumbs a {
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .menu__breadcrumbs a:last-child {
    pointer-events: none;
  }

  .menu__breadcrumbs a:hover {
  }

  .menu__breadcrumbs a:not(:last-child)::after {
    content: '>';
    display: inline-block;
    padding: 0 0.5em;
  }

  .menu__breadcrumbs a:not(:last-child):hover::after {
  }

  .menu__back {
    font-size: 1.05em;
    position: absolute;
    z-index: 4051;
    top: 0;
    right: 2.25em;
    margin: 0;
    padding: 1.365em 0.65em 0 0;
    cursor: pointer;
    border: none;
    background: none;
  }

  .menu__back--hidden {
    pointer-events: none;
  }

  .menu__back:hover,
  .menu__back:focus {
    outline: none;
  }
}

// Desktop Only styles
.body--glazed_free-nav-desktop {
  &.body--glazed_free-header-side {
    padding-left:300px;
  }
  .glazed_free-header--side {
    position: fixed;
    left: 0;
    top: 0;
    width: 300px;
    height: 100%;
    .navbar-header {
      float: none;
      z-index: 4065;
      position: relative;
      .logo,
      .navbar-brand {
        display: block;
      }
    }
    .menu__breadcrumbs {
      top: 160px;
    }
    .menu__level {
      top: 180px;
      height: 100%;
      height: calc(100vh - 180px);
      overflow: auto;
    }
  }
  &.body--glazed_free-header-side.body--full-screen-search .glazed_free-header--side .navbar-header {
    z-index: 4060;
  }
}

// Mobile Only styles
.body--glazed_free-nav-mobile {
  // Replaced margin-left with left to fix iphone bug
  // We can't animate with css transform here due to this submenu position problem:
  // @see http://stackoverflow.com/questions/15194313/webkit-css-transform3d-position-fixed-issue
  #glazed_free-main-menu,
  #glazed_free-main-menu .menu__breadcrumbs,
  #glazed_free-main-menu .menu__level {
    left: -100%;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
  }
  #glazed_free-main-menu.menu--open,
  #glazed_free-main-menu.menu--open .menu__breadcrumbs,
  #glazed_free-main-menu.menu--open .menu__level {
    left: 0;
  }
}

// Mobile-Small styles
@media screen and (max-width: 768px) {
  .action--open,
  .action--close {
    display: block;
  }
  #glazed_free-main-menu,
  #glazed_free-main-menu .menu__breadcrumbs,
  #glazed_free-main-menu .menu__level {
    width: 100%;
    text-align: center;
  }
}

// Animations
.animate-outToRight .menu__item {
  -webkit-animation: outToRight 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
  animation: outToRight 0.1s both cubic-bezier(0.7, 0, 0.3, 1);
}

@-webkit-keyframes outToRight {
  to {
    margin-left: 100%;
  }
}

@keyframes outToRight {
  to {
    margin-left: 100%;
  }
}

.animate-outToLeft .menu__item {
  -webkit-animation: outToLeft 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
  animation: outToLeft 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
}

@-webkit-keyframes outToLeft {
  to {
    margin-left: -100%;
  }
}

@keyframes outToLeft {
  to {
    margin-left: -100%;
  }
}

.animate-inFromLeft .menu__item {
  -webkit-animation: inFromLeft 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
  animation: inFromLeft 0.1s both cubic-bezier(0.7, 0, 0.3, 1);
}

@-webkit-keyframes inFromLeft {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0;
  }
}

@keyframes inFromLeft {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0;
  }
}

.animate-inFromRight .menu__item {
  -webkit-animation: inFromRight 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
  animation: inFromRight 0.6s both cubic-bezier(0.7, 0, 0.3, 1);
}

@-webkit-keyframes inFromRight {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0;
  }
}

@keyframes inFromRight {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0;
  }
}
