
  // Glazed Secondary Header
.glazed_free-secondary-header {
  z-index: 4050;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 1.2em;
  background: $secondary-header;
  color: $secondary-header-text;
  a {
    color: $secondary-header-text;
  }
  .block,
  p {
    margin-bottom: 0;
  }
  .secondary-header-container {
    margin-bottom: 0;
  }
}

.navbar-nav.secondary {
  float:right;
  margin-top: 0;
  margin-bottom: 0;
  a {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 1.2em;
    &:hover,
    &:focus {
      background: transparent;
    }
  }
  li {
    float:left;
  }
}
