.body--glazed_free-nav-desktop {
  .glazed_free-header--top {
    width: 100%;
    .glazed_free-main-menu {
      height: 90px;
      position: relative;
    }
    &.glazed_free-header--fixed {
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
    }
    &.glazed_free-header--fixed,
    &.affix {
      box-shadow: 0 3px 10px 0 rgba(50, 50, 50, 0.05);
    }
    // &.affix {
    //   border-bottom: 1px solid rgba(0,0,0,0.04);
    // }
    &.glazed_free-header--overlay {
      position: absolute;
      left: 0;
      right: 0;
      top: 30px;
      &.glazed_free-header--fixed {
        position: fixed;
      }
      &.glazed_free-header--sticky {
        transition: opacity 600ms, background-color 600ms;
      }
      &.affix {
        top: 0;
      }
    }
    &.glazed_free-header--navbar-pull-down {
      .container-row > .col-sm-12 {
        background: $header-color;
      }
    }
    &.affix {
      opacity: 1;
      position: fixed;
      top: 0;
      .navbar-header {
        padding-top: 0;
        padding-bottom: 0;
      }
      .navbar-brand {
        font-size: $font-size-large;
      }
    }
    .navbar-header {
      float: left;
      display: table;
      position: relative;
      z-index: 4050;
    }
    .wrap-branding {
      display: table;
      height: 90px;
      .logo,
      .navbar-brand {
        display: table-cell;
        vertical-align: middle;
        padding-right: 15px;
        img {
          display: inline;
        }
      }
    }
    .navbar-collapse {
      display: inline-block;
    }
    &.glazed_free-header--logo-center-menu-left,
    &.glazed_free-header--logo-center-menu-right {
      .navbar-header {
        position: absolute;
        left: 50%;
      }
      .wrap-branding {
        margin-left: -50%;
        .logo {
          padding-right: 10px;
          padding-left: 10px;
        }
      }
    }
    &.glazed_free-header--logo-left-menu-left,
    &.glazed_free-header--logo-center-menu-left {
      .menu,
      .block {
        float: left;
      }
    }
    &.glazed_free-header--logo-right-menu-left {
      .menu,
      .block {
        float: left;
      }
      .navbar-header,
      .wrap-branding {
        float: right;
      }
    }
    &.glazed_free-header--centered {
      text-align: center;
      .region-navigation {
        text-align: center;
      }
      .navbar-brand {
        margin: 0 auto;
        text-align: center;
        clear: both;
      }
      .navbar-header,
      .block {
        margin: 0 auto;
        text-align:center;
        float: none;
        clear: both;
        display: inline-block;
        vertical-align: top;
      }
    }
    &.glazed_free-header--centered-inline {
      text-align: center;
      .block,
      .navbar-header,
      #glazed_free-main-menu {
        display: inline-block;
        vertical-align: top;
        float: none;
      }
    }
    li.dropdown:hover,
    li.dropdown:focus {
      .dropdown-menu {
        display:block;
      }
    }
    .block {
      float: right;
      position:static;
    }
    .nav {
      float: right;
      > li {
        display: table;
        height: 100%;
        float: left;
      }
      > li > a {
        font-size: $font-size-large;
        display: table-cell;
        vertical-align: middle;
        height: 90px;
        padding-top: 0;
        padding-bottom: 0;
      }
      .dropdown-menu li {
        width: 100%;
        > a {
          font-size: $font-size-base;
          font-weight: normal;
          padding: 10px 20px;
          display:block;
          &.glazed_free-megamenu__heading {
            font-size: $font-size-large;
            font-weight: 300;
          }
        }
      }
    }
    .glazed_free-megamenu__heading {
      font-size: 18px;
      font-weight: 300;
    }
    // TB Mega Menu
    .nav-child-fixed-width {
      left: 0;
      right: 0;
      position: absolute;
      top: 90px;
    }
    #block-glazed-helper-full-screen-search {
      height: 90px;
      line-height: 90px;
    }
  }
}

// Toolbar fixes
.body--glazed_free-nav-desktop {
  &.admin-menu {
    margin-top: 0!important;
    padding-top: 20px!important;
  }
  &.admin-menu-toolbar {
    margin-top: 0!important;
    padding-top: 28px!important;
  }
  &.admin-menu .glazed_free-header--top.glazed_free-header--overlay {
    top: 50px!important;
  }
  &.admin-menu-toolbar .glazed_free-header--top.glazed_free-header--overlay {
    top: 58px!important;
  }
  &.toolbar .glazed_free-header--top.glazed_free-header--overlay {
    top: 60px!important;
  }
  &.toolbar-drawer .glazed_free-header--top.glazed_free-header--overlay {
    top: 94px!important;
  }

  &.admin-menu .glazed_free-header--top.glazed_free-header--fixed,
  &.admin-menu .glazed_free-header--top.affix {
    top: 20px!important;
  }
  &.admin-menu-toolbar .glazed_free-header--top.glazed_free-header--fixed,
  &.admin-menu-toolbar .glazed_free-header--top.affix {
    top: 28px!important;
  }
  &.toolbar .glazed_free-header--top.glazed_free-header--fixed,
  &.toolbar .glazed_free-header--top.affix {
    top: 30px!important;
  }
  &.toolbar-drawer .glazed_free-header--top.glazed_free-header--fixed,
  &.toolbar-drawer .glazed_free-header--top.affix {
    top: 64px!important;
  }

  &.admin-menu.body--glazed_free-header-fixed.body--glazed_free-header-not-overlay {
    padding-top: 120px!important;
  }
  &.admin-menu-toolbar.body--glazed_free-header-fixed.body--glazed_free-header-not-overlay {
    padding-top: 128px!important;
  }
  &.toolbar.body--glazed_free-header-fixed.body--glazed_free-header-not-overlay {
    padding-top: 130px!important;
  }
  &.toolbar-drawer.body--glazed_free-header-fixed.body--glazed_free-header-not-overlay {
    padding-top: 164px!important;
  }
  // D8 Navbar backport
  &.navbar-fixed.navbar-horizontal .glazed_free-header--top.glazed_free-header--overlay {
    top: 69px;
  }
  &.navbar-fixed.navbar-horizontal.navbar-tray-open.navbar-horizontal .glazed_free-header--top.glazed_free-header--overlay {
    top: 110px;
  }
  &.navbar-fixed.navbar-horizontal .glazed_free-header--top.glazed_free-header--fixed,
  &.navbar-fixed.navbar-horizontal .glazed_free-header--top.affix {
    top: 39px!important;
  }
  &.navbar-fixed.navbar-horizontal.navbar-tray-open.navbar-horizontal .glazed_free-header--top.glazed_free-header--fixed,
  &.navbar-fixed.navbar-horizontal.navbar-tray-open.navbar-horizontal .glazed_free-header--top.affix {
    top: 80px!important;
  }

  &.body--glazed_free-header-fixed.navbar-fixed.navbar-horizontal.navbar-tray-open.navbar-horizontal.body--glazed_free-header-not-overlay {
    padding-top: 180px!important;
  }
  &.body--glazed_free-header-fixed.navbar-fixed.navbar-horizontal.body--glazed_free-header-not-overlay {
    padding-top: 139px!important;
  }
}
