@charset "UTF-8";
// Fix bootstrap basetheme overrides.css thingy
// @see layout-theme-settings-css.inc
.html .navbar.container {
  max-width: 1170px;
}
.body--glazed_free-nav-desktop {
  // extra z-indexing for pull-down header that needs to cover slider
  // this should not be active in mobile mode due to owl carousel layout bugs
  .navbar-container > .row > .col-sm-12 {
    position: relative;
    z-index: 4050;
  }
}
.navbar.container, .navbar.container-fluid {
  margin-top: 0;
}
  // Glazed Header Defaults across all layouts
.glazed_free-header {
  z-index: 4050;
  border: none;
  border-radius: 0;
  min-height: 0;
  a {
    cursor: pointer; // for "nolink" <a> tags
    outline: none;
  }
  .navbar-container {
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 0;
    position: relative;
    &.container-fluid {
      position: static;
    }
  }
  .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }
  .nav {
    margin-left: 0;
    margin-right: 0;
  }
  // override bootstrap styling
  background: $header-color;
  color: $header-text-color;
  a {
    color: $header-text-color;
    &.active,
    &:hover,
    &:focus {
      color: $header-text-color;
    }
  }
  .glazed_free-main-menu {
    a {
      color: $header-text-color;
      text-decoration: none;
      &.active,
      &:hover,
      &:focus {
        color: $header-text-color;
      }
    }
    .menu a {
      background: transparent;
      &:hover,
      &:focus {
        background: transparent;
      }
    }
  }
  .navbar-header {
    .logo {
      padding-left: 0;
    }
    .navbar-brand {
      font-size: $font-size-h3;
      height: auto;
      letter-spacing: 1px;
      padding: 0;
      float: none;
      margin-left: 0;
    }
  }
  .menu {
    h1, h2, h3, h4, h5 h6 {
      opacity: 0.75;
    }
  }
  .dropdown-menu {
    background: $header-color;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: 0;
    border: none;
    ul { padding-left: 0; }
    li {
      list-style: none;
      list-style-type: none;
      a {
        display: block;
        background: transparent;
      }
    }
  }
  .glazed_free-megamenu {
    position: static;
    display: block;
    border: none;
    box-shadow: none;
    li {
      float: none;
    }
  }
  .row,
  .block {
    margin-bottom: 0;
  }
  .mega-dropdown-menu {
    padding-top: 15px;
    .block {
      padding-left: 20px;
      padding-right: 0;
    }
    .row {
      margin-left: 0;
      margin-right: 0;
    }
  }
  .nav-child-fixed-width {
    width: 100%!important;
  }
  &.affix .nav-child-fixed-width {
    top: 60px;
  }
}
.body--glazed_free-nav-mobile {
  .glazed_free-header {
    position: static;
    li {
      clear: both;
    }
    .dropdown-menu {
      position: static;
      display: block;
      box-shadow: none;
      border: none;
    }
  }
}
.body--glazed_free-nav-desktop {
  .tb-megamenu-column {
    padding-left: 0;
    padding-right: 0;
    &:first-child {
      border-left: none;
    }
  }
}

body.body--glazed_free-header-fixed.body--glazed_free-header-not-overlay {
  padding-top: 100px;
}

// MENU BORDER HOVER EFFECT
#navbar.glazed_free-header--hover-background .menu {
  .active-trail > a,
  a:hover,
  a:hover .menu a:focus,
  a.active {
    color: white;
    background-color: $primary;
  }
}

#navbar.glazed_free-header--hover-text .menu {
  .active-trail > a,
  a:hover,
  a:focus,
  a.active {
    color: $primary;
  }
}

#navbar.glazed_free-header--hover-opacity .menu {
  .active-trail > a,
  a:hover,
  a:focus,
  a.active {
    opacity: 0.8;
  }
}

.body--glazed_free-header-side .glazed_free-header--side.glazed_free-header--hover-border .menu a:before,
.glazed_free-header--top.glazed_free-header--hover-border .nav > li > a:before {
  content: ' ';
  display: block;
  width: 100%;
  width: calc(100% - 20px);
  transform: scale(0, 1) translate(10px, 0);
  position: absolute;
  left: 0;
  background: #eeeeee;
  // Default settings
  height: 2px;
  bottom: 0;
  background: $primary;
}
.body--glazed_free-header-side .glazed_free-header--side.glazed_free-header--hover-border .nav > li.active-trail > a:before,
.body--glazed_free-header-side .glazed_free-header--side.glazed_free-header--hover-border .nav > li > a:hover:before,
.body--glazed_free-header-side .glazed_free-header--side.glazed_free-header--hover-border .nav > li > a.active:before,
.glazed_free-header--top.glazed_free-header--hover-border .menu li.active-trail > a:before,
.glazed_free-header--top.glazed_free-header--hover-border .menu a:hover:before,
.glazed_free-header--top.glazed_free-header--hover-border .menu a.active:before {
  transform: scale(1, 1) translate(10px, 0);
}
