
  // Glazed Full Screen Search
#block-glazed-helper-full-screen-search {
  .full-screen-search-button {
    font-size: 18px;
  }
  .full-screen-search-form {
    display: table;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-color: rgba(255,255,255,0.925);
    transition: top 0.3s ease-in-out;
    .full-screen-search-form-input {
      padding-bottom: 2em;
      font-size: 10px;
      text-align: center;
      text-transform: uppercase;
      background: transparent;
      border: none;
      box-shadow: none;
      @media (max-width: 767px) {
        font-size: 8px;
      }
      @media (max-width: 480px) {
        font-size: 6px;
      }
      label {
        margin-bottom: 0.85em;
        font-size: 2.1em;
        line-height: 1.4;
      }
      .search-query {
        border: 0;
        padding: 0;
        height: auto;
        font-size: 90px;
        letter-spacing: -0.05em;
        line-height: 1.3em;
        background-color: transparent;
        border-radius: 0;
        box-shadow: none;
        text-align: center;
        &:focus, &:active {
          outline: 0;
        }
      }
    }
    & > div {
      display: table-cell;
      vertical-align: middle;
    }
  }
}
