@charset "UTF-8";

// This file exists in both the glazed_free_builder module and glazed_free_theme so that
// button style are available to people who use either component independently.

body {
  .stpe-flatbutton {
    border-width: 0;
  }
  .stpe-3dbutton {
    border-width: 0 1px 3px 1px;
    border-radius: 15px;
    box-shadow: 0px 2px 7px 0px rgba(50, 50, 50, 0.5);
  }
  .stpe-outlinebutton {
    display: inline-block;
    background: transparent;
    border: 1px solid #333;
    color: #333;
    border-radius: 5px;
    padding-left: 2em;
    padding-right: 2em;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 1px;
    &:hover,
    &:focus {
      box-shadow: none;
      font-weight: normal;
      background: #333;
      border: 1px solid #333;
      color: #fff;
    }
  }
  .stpe-borderbutton {
    display: inline-block;
    background: transparent;
    border: 3px solid #333;
    color: #333;
    border-radius: 0;
    padding-left: 2em;
    padding-right: 2em;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 1px;
    &:hover,
    &:focus {
      box-shadow: none;
      font-weight: normal;
      background: #333;
      border: 3px solid #333;
      color: #fff;
    }
  }
}
