html {
  // Prevent horizontal scrolling on small devices
  // Also important for SEO, needed for mobile-friendly test
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: visible;
}

body {
  background: $body-background;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

.glazed_free-boxed-container {
  background: #fff;
  margin: 0 auto;
  max-width: 1580px;
}

.container {
  padding-left: 60px;
  padding-right: 60px;
  max-width: 1280px;
}

// navbar and page-title padding is not user-controlled and should be kept
// away from viewport edge
.navbar-container.glazed_free-fluid,
.page-title-container.glazed_free-fluid,
.container-fluid {
  padding-left: 60px;
  padding-right: 60px;
}

@media screen and (max-width: 1200px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
  .container-fluid {
    padding-left: 30px;
    padding-right: 30px;
  }
}

body.full-width-content {
  .main-container > .row,
  .main-container > .row > section,
  .main-container {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .main-container > .row > aside {
    display: none;
  }
}

.container-row .container-col {
  margin-bottom: 0; // Don't add defaulting margin to these structural columns
}

.region-sidebar-first .block,
.region-sidebar-second .block {
  margin-bottom: 30px;
}
#block-system-help {
  margin-bottom: 0;
}

.navbar {
  margin-bottom: 0;
}

// responsive image. This sometimes sucks because images cannot over overscan their base size to save bytes.
img {
  max-width: 100%; // can't remove this because then image will overflow parent elements.
}
// exception for revolution slider kenburns effect
html.js .kenburnimg img {
  max-width: none;
}

// NODES

.node {
  // margin-bottom: 30px;
  .submitted {
    margin-bottom: 30px;
    display: block;
    padding: 15px 0;
  }
  &.node-blog-node-teaser {
    .links {
      margin-top: -15px;
    }
  }
}

.node-teaser {
  margin-bottom: 30px;
}

// SLIDER REGION
.region-slider {
  .block {
    margin-bottom: 0;
  }
}

// FOOTER
.glazed_free-footer {
  background-color: $footer;
  color: $footer-text;
  border-color: $footer-text;
  .footer-container {
    padding-top: 15px;
    padding-bottom: 0;
  }
  h1, h2, h3, h4, h5, h6 {
    color: $footer-text;
  }
  a {
    color: $footer-text;
    &:hover,
    &:focus {
      color: $footer-text;
    }
  }
  ul.contact-info {
    padding: 1em 0;
    li {
      background: none;
      padding: 0;
      font-size: 1.6em;
      line-height: 1.7em;
    }
  }
  .block {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .badge {
    font-size: 11px;
    font-weight: normal;
    opacity: 0.9;
  }
}

// STICKY FOOTER Flexbox method
// https://css-tricks.com/couple-takes-sticky-footer/
.html--glazed_free-sticky-footer {
  height: 100%;
  body {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .wrap-containers {
    flex: 1 0 auto;
  }
  .body--glazed_free-nav-desktop .glazed_free-header--top {
    min-height: 90px;
  }
  .body--glazed_free-nav-desktop .glazed_free-header--top.glazed_free-header--navbar-pull-down {
    min-height: 45px;
  }
  .body--glazed_free-nav-desktop .glazed_free-header--top.affix {
    min-height: 60px;
  }
}
