// PAGE TITLE
.page-title-full-width-container {
  background: $page-title-color;
  &#page-title-full-width-container {
    color: $page-title-text-color;
    li, a, h1, h2, h3, h4, h5, h6 {
      color: $page-title-text-color;
    }
  }
  position: relative;
  margin-bottom: 30px;
  &.glazed_free-no-margin {
    margin-bottom: 0;
  }
  &:after {
    content: ' ';
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
  }
  .page-title-container {
    position: relative;
  }
}

#page-title {
  display: table;
  width: 100%;
  z-index: 1;
  .page-title {
    border: none;
    display: table-cell;
    height: 180px;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.body--glazed_free-full-width-content .page-title-full-width-container {
  margin-bottom: 0;
}

@media screen and (min-width: 1200px) {
  .body--glazed_free-header-overlay .page-title-full-width-container {
    padding-top: 130px;
  }
}


@media screen and (max-width: 768px) {
  .html #page-title .page-title {
    height: auto;
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 35px;
  }
}
