// Glazed utility classes
// For Bootstrap core helper classes see http://getbootstrap.com/css/#helper-classes


// @See glazed_free.js for more helper classes

// Layout helper classes


.glazed-util-full-width-content .main-container {
  width: auto;
  max-width: none;
  margin-left: 0;
  margin-right: 0;
}

.glazed-util-full-width-content .col-sm-12 {
  padding-left: 0;
  padding-right: 0;
}

.html {

  .inline {
    display: inline;
  }

  // Layout helper classes
  .glazed-util-clear-both,
  .clear-both {
    clear: both;
  }

  .glazed-util-clear-left {
    clear: left;
  }

  .glazed-util-clear-right {
    clear: right;
  }

  .glazed-util-float-left {
    float: left;
    img {
      margin: 0 20px 15px 0;
    }
  }

  .glazed-util-float-right {
    float: right;
    img {
      margin: 0 0 15px 20px;
    }
  }

  .glazed-util-columns-5 .col-lg-2,
  .glazed-util-columns-5 .col-md-2,
  .glazed-util-columns-5 .col-sm-2,
  .glazed-util-columns-5 .col-xs-2 {
    width: 20%;
  }

  .glazed-util-no-gutter {
    margin: 0!important;
    padding: 0!important;
    .row {
      margin: 0!important;
      padding: 0!important;
    }
    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
      padding: 0!important;
      margin: 0!important;
    }
  }
  .row .glazed-util-no-gutter .row { margin: 0!important }

  .glazed-util-no-spacer {
    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
      margin-bottom: 0;
    }
  }

  .glazed-util-gutter-bottom {
    margin-bottom: 30px;
  }

  @media (max-width: 768px) {
    .glazed-util-columns-5 .col-lg-2,
    .glazed-util-columns-5 .col-md-2,
    .glazed-util-columns-5 .col-sm-2,
    .glazed-util-columns-5 .col-xs-2 {
      width: 100%;
      clear:none;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 10px;
    }
  }

  // Text shadows
  .glazed-util-text-shadow { text-shadow: 1px 1px rgba(0,0,0,1); }
  .glazed-util-text-shadow-80 { text-shadow: 1px 1px rgba(0,0,0,0.8); }
  .glazed-util-text-shadow-60 { text-shadow: 1px 1px rgba(0,0,0,0.6); }
  .glazed-util-text-shadow-40 { text-shadow: 1px 1px rgba(0,0,0,0.4); }
  .glazed-util-text-shadow-20 { text-shadow: 1px 1px rgba(0,0,0,0.2); }

  // Text muted with color support
  .glazed-util-text-muted { opacity: 0.75; }

  // Text transform
  .glazed-util-text-uppercase { text-transform: uppercase; }
  .glazed-util-text-bold { font-weight: 700; }
  .glazed-util-text-light { font-weight: 300; }
  .glazed-util-text-italic { font-style: italic; }

  // Color overlay for background tinting
  .glazed-util-overlay-primary,
  .glazed-util-overlay-accent1,
  .glazed-util-overlay-accent2,
  .glazed-util-overlay-black,
  .glazed-util-overlay-white,
  .glazed-util-overlay-gray {
    position:relative;
    z-index: 0;
    &:after {
      content: ' ';
      display: block;
      position: absolute;
      top:0;
      left:0;
      background-color: #000;
      opacity: 0.90;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
  }
  .glazed-util-overlay-20:after,.glazed-util-overlay-20 .YTPOverlay { opacity: 0.20; }
  .glazed-util-overlay-40:after,.glazed-util-overlay-40 .YTPOverlay { opacity: 0.40; }
  .glazed-util-overlay-60:after,.glazed-util-overlay-60 .YTPOverlay { opacity: 0.60; }
  .glazed-util-overlay-80:after,.glazed-util-overlay-80 .YTPOverlay { opacity: 0.80; }

  .glazed-util-overlay-primary,
  .glazed-util-overlay-accent1,
  .glazed-util-overlay-accent2,
  .glazed-util-overlay-black,
  .glazed-util-overlay-gray,
  .glazed-util-background-accent2,
  .glazed-util-background-accent1,
  .glazed-util-background-primary,
  .glazed-util-background-gray,
  .glazed-util-background-black,
  .bg-primary {
    color: #fff;
    h1,h2,h3,h4,a,.form-control {
      color: #fff;
    }
    hr {
      background: #fff;
    }
    .form-control {
      border-color: #fff;
    }
    ::placeholder  {
      color: rgba(255,255,255,0.8);
    }
  }
  .bg-primary,
  .glazed-util-overlay-primary,
  .glazed-util-background-primary {
    a {
      color: #fff;
    }
  }
  .YTPOverlay { opacity: 0.9; }
  .glazed-util-overlay-primary:after,.glazed-util-overlay-primary .YTPOverlay { background-color: $primary; }
  .glazed-util-overlay-accent1:after,.glazed-util-overlay-accent1 .YTPOverlay { background-color: $accent1; }
  .glazed-util-overlay-accent2:after,.glazed-util-overlay-accent2 .YTPOverlay { background-color: $accent2; }
  .glazed-util-overlay-black:after,.glazed-util-overlay-black .YTPOverlay { background-color: #000; }
  .glazed-util-overlay-white:after,.glazed-util-overlay-white .YTPOverlay { background-color: white; }
  .glazed-util-overlay-gray:after,.glazed-util-overlay-gray .YTPOverlay { background-color: $text; }

  // Color helper classes
  .glazed-util-background-body { background-color: $body-background; }
  .glazed-util-background-gray { background-color: $text; }
  .glazed-util-background-primary, .bg-primary { background-color: $primary; }
  .glazed-util-background-accent1 { background-color: $accent1; }
  .glazed-util-background-accent2 { background-color: $accent2; }
  .glazed-util-background-well-text { background-color: $well-text; }
  .glazed-util-background-white { background-color: white; }
  .glazed-util-background-black { background-color: #000; }
  .glazed-util-background-silver { background-color: $silver; }
  .glazed-util-border-primary { border-color: $primary; }
  .glazed-util-border-accent1 { border-color: $accent1; }
  .glazed-util-border-accent2 { border-color: $accent2; }
  .glazed-util-border-primary-gray { border-color: $text; }
  .glazed-util-border-white { border-color: white; }
  .glazed-util-border-black { border-color: #000; }
  .glazed-util-border-silver { border-color: $silver; }
  .glazed-util-color-gray { color: $text; }
  .glazed-util-color-primary,.text-primary { color: $primary; }
  .glazed-util-color-accent1 { color: $accent1; }
  .glazed-util-color-accent2 { color: $accent2; }
  .glazed-util-color-well-text { color: $well-text; }
  .glazed-util-color-white { color: white; }
  .glazed-util-color-black { color: #000; }
  .glazed-util-color-silver { color: $silver; }
  .glazed-util-hover-background-primary:hover { background-color: $primary; }
  .glazed-util-hover-background-white:hover { background-color: white; }
  .glazed-util-hover-background-black:hover { background-color: #000; }
  .glazed-util-hover-border-primary:hover { border-color: $primary; }
  .glazed-util-hover-border-white:hover { border-color: white; }
  .glazed-util-hover-border-black:hover { border-color: #000; }
  .glazed-util-hover-border-silver:hover { border-color: $silver; }
  .glazed-util-hover-color-primary:hover { color: $primary; }
  .glazed-util-hover-color-white:hover { color: white; }
  .glazed-util-hover-color-black:hover { color: #000; }
  .glazed-util-hover-color-silver:hover { color: $silver; }

  // Form Helper Classes
  .glazed_free-form-inline {
    .form-item,
    .form-actions {
      display: block;
      float:left;
      clear: none;
      margin-right: 20px;
    }
    .btn {
      padding: 12px 18px;
    }
  }

  .glazed-util-vcenter {
    display: flex;
    align-items: center;
  }

}
